spring:

  datasource:
    url: jdbc:postgresql://localhost:5432/storebase
    username: root
    password: letmein

  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  graphql:
    graphiql:
      enabled: true

  liquibase:
    change-log:
      classpath:db.migration/changelog.xml
